body {
	background-image: url(https://images.pexels.com/photos/2960919/pexels-photo-2960919.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-repeat: no-repeat;
	background-position: center;
	
}

*{
	font-family: Raleway;
	
}
